<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>VinyListen</title>
    <link rel="icon" href="./static/favicon.png" type="png">
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <div class="container">
        <div class="title">
        </div>
        <div class="artist">
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vibrant.js/1.0.0/Vibrant.min.js" integrity="sha256-qAQzBOPFUA4u8LLFha4hHBcGZoKk4Q8NtWqYa4K2b7g="
        crossorigin="anonymous"></script>
    <script src="./static/script.js"></script>
</body>

</html>